/* SIMPLE DRAWER – no submenu support */

#mask {
    position: fixed;
    inset: 0;
    background: transparent;
    visibility: hidden;
    transition: background-color 0.4s;
    z-index: 99997;
}

.drawer {
    --drawer-width: 270px;
    position: fixed;
    inset-block: 0 0;
    inset-inline-start: 0;
    width: var(--drawer-width);
    margin-inline-start: calc(-1 * var(--drawer-width));
    background: var(--bg);
    color: var(--fg);
    transition: transform 0.4s;
    z-index: 99998;
    -webkit-overflow-scrolling: touch;
}

.dopen .drawer {
    transform: translateX(var(--drawer-width));
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    overflow: auto;
}

.mnav.dopen #mask {
    background: rgba(0,0,0,0.5);
    visibility: visible;
}

/* Hide drawer toggle / submenu indicators on desktop */
.dnav #menu-open,
.dnav .menutog,
.dnav .menuback {
    display: none;
}

/* Drawer menu layout */
.mnav .drawer .menu,
.drawer .main-nav .menu-item {
    display: block;
    margin: 0;
}

.mnav.dopen {
    overflow: hidden; /* prevent body scroll */
}