/* TREE SUBMENU */
#mask {
	position: fixed;
	background-color: transparent;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	transition: background-color .4s;
}

.drawer {
	z-index: 99998;
	/*	height: calc(100% + 60px);*/
	height: 100%;
	position: fixed;
/* 	bottom: 0; */
    top: 0;
	left: 0;
	width: 270px;
	margin: 0 0 0 -270px;
/*	padding: .8em;*/
	transition: transform .4s;
/*	display: block;*/
	background: var(--bg);
	color: var(--fg);
	text-align: left;
	-webkit-overflow-scrolling: touch;
	will-change: transform;
}

.dopen .drawer {
	max-width: 90%;
	-webkit-transform: translateX(270px);
	transform: translateX(270px);
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
	overflow: auto;
	scrollbar-width: none;
}

/* not sure which of these are needed */
/* .site-header li, */
.mnav .drawer .menu,/* this one overrides the negative margin on horizontal header navs in preceding rule */
.drawer.desk-drawer .menu,/* needs the specifity to override negative margin */
.main-nav .menu-item {
	display: block;
	margin: 0;
}

#menu-close,
#menu-open {
	display: inline-block;
	padding: 14px 0;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

#menu-close {
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*	font: 100 24px/.7 sans-serif;*/
/*    padding: 12px 24px;*/
 	display: none;
}

.menubun {
	background: currentColor;
	width: 18px;
	height: 1px;
	margin: 4px;
}

/* Allow drawer menu to scroll, but not on bigger screens cause fixed headers shift when you hide desktop scrollbars */
/*@media (max-height:770px) {*/
	.mnav.dopen {
		overflow: hidden;
	}

/*}*/

/* only mobile screens */
.mnav.dopen #mask {
	background-color: rgba(0,0,0,.5);
	visibility: visible;
}
.mnav #menu-close {
    display: none;
}

/* SUBMENU */
.menutog {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px;
	padding: 12px;
    cursor: pointer;
}
.menutog::after {
	content: "";
	border-left: 1px solid currentColor;
	border-top: 1px solid currentColor;
    vertical-align: middle;
    display: inline-block;
	width: 6px;
	height: 6px;
    cursor: pointer;
	transform: rotate(45deg);
}
.menu-item.focus > .menutog::after {
    transform: rotate(225deg);
}

.drawer .sub-menu {
     max-height: 0;
     overflow: hidden;
     transition: max-height cubic-bezier(1,0,0,1) 99ms;
}
.drawer .focus > .sub-menu {
    max-height: 50em;
}